<h2>Ajouter un animateur</h2>
<br>

<!--<div [hidden]="submitted" style="width: 400px;">
    <form>

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" name="nom" class="form-control" id="nom" placeholder="Entrer votre nom"
                [(ngModel)]="animateur.nom">
        </div>

        <div class="form-group">
        <label for="prenom">Prenom :</label>
        <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Entrer votre prenom"
            [(ngModel)]="animateur.prenom">
    </div>

        <label for="role">Role :</label>
        <select name="role" id="role" [(ngModel)]="animateur.role.id" class="form-control">
            <option *ngFor="let role of roles" [value]="role.id">{{role.label}}</option>
        </select>


        <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" name="date" class="form-control" id="email"
                placeholder="Entrer email" [(ngModel)]="animateur.email">
        </div>     

        <div class="form-group">
            <label for=" password">Mot de Passe :</label>
            <input type="text" name="password" class="form-control" id="password"
                placeholder="Entrer le password" [(ngModel)]="animateur.password">
        </div>

        <div class="form-group">
            <label for=" adresse">Adresse :</label>
            <input type="text" name="adresse" class="form-control" id="adresse"
                placeholder="Entrer l'adresse" [(ngModel)]="animateur.adresse">
        </div>

        <label for="animation">Animation :</label>
        <select name="animation" id="animation" [(ngModel)]="animateur.animation.id" class="form-control">
            <option *ngFor="let animation of animations" [value]="animation.id">{{animation.nom}}</option>
        </select>

     
<a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/animateur-list']">Annuler</a>

<button (click)="add()" class="btn btn-secondary" [disabled]="animateur.length==0">Ajouter</button>

</form>
</div>-->