<h3>Liste des animateurs</h3>
<br>
<!--<div class="panel-body">
    <table class="table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>           
                <th>Password</th>                
                <th>Adresse</th>
                <th>Role</th>
                <th>Entreprise</th>
                <th>Animation</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let animateur of animateurs">

                <td>{{animateur.id}}</td>
                <td>{{animateur.nom}}</td>
                <td>{{animateur.prenom}}</td>
                <td>{{animateur.email}}</td>        
                <td>{{animateur.password}}</td>
                <td>{{animateur.adresse}}</td>
                <td>{{animateur.entreprise}}</td>
                <td>{{animateur.role.label}}</td>
                <td>{{animateur.animation.label}}</td>
               
             
                <td>
                    <button (click)="redirectToShow(animateur.id)" class="btn btn-sm btn-success">Show</button>
                    <button (click)="redirectToUpdate(animateur.id)" class="btn btn-sm btn-warning">Update</button>
                    <button (click)="delete(animateur.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>

    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/animateur-ad']">+ Ajouter un animateur </a>

    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/public']">Retour à l'accueil </a>

</div>-->
