<h2>Mettre à jour un animateur</h2>
<br>

<!--<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">

            <label for="nom">Nouveau nom :</label>
            <input type="text" name="nom" class="form-control" id="nom" placeholder="Entrer votre nouveau nom"
                [(ngModel)]="animateur.nom">
        </div>

        <div class="form-group">

            <label for="prenom">Nouveau prenom :</label>
            <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Entrer votre nouveau prenom"
                [(ngModel)]="animateur.prenom">
        </div>

        <div class="form-group">

            <label for="email">Nouvel email :</label>
            <input type="text" name="email" class="form-control" id="email" placeholder="Entrer votre nouvel email"
                [(ngModel)]="email.label">
        </div>

        <div class="form-group">

            <label for="password">Nouveau password :</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Entrer votre nouveau password"
                [(ngModel)]="animateur.password">
        </div>

        <label for="animation">Type d'animation :</label>
        <select name="animation" id="animation" [(ngModel)]="animateur.animation.id" class="form-control">
            <option *ngFor="let animation of animations" required [value]="animation.id">{{animation.label}}</option>
        </select>

        <div class="form-group">
            <label for=" entreprise">Nouvelle entreprise :</label>
            <input type="text" name="entreprise" class="form-control" id="entreprise" placeholder="Entrer le nom de l'entreprise"
                [(ngModel)]="animateur.entreprise">
        </div>


        <label for="role">Nouveau role :</label>
        <select name="role" id="role" [(ngModel)]="animateur.role.id" class="form-control">
            <option *ngFor="let role of roles" [value]="role.id">{{role.label}}</option>
        </select>
       
        <a name="" id="" class="btn btn-secondary" href="#" role="button"
            [routerLink]="['animateur-list']">Annuler</a>

        <button type="submit" class="btn btn-secondary">Valider</button>
    </form>
</div>-->