<h3>Voir un animateur</h3>

<!--<div class="panel-body">
    <table class="table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>          
                <th>Adresse</th>
                <th>Entreprise</th>
                <th>Role</th>
                <th>Entreprise</th>
                <th>Animation</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{animateur.id}}</td>
                <td>{{animateur.nom}}</td>
                <td>{{animateur.prenom}}</td>
                <td>{{animateur.email}}</td>
                <td>{{animateur.role.label}}</td>
                <td>{{animateur.adresse}}</td>
                <td>{{animateur.password}}</td>
                <td>{{animateur.entreprise}}</td>
                <td>{{animateur.animation.label}}</td>
               

            </tr>

        </tbody>

    </table>

    <br>
    <br>
    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['animateur-list']">Retour à la
        liste</a>-->